body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(/PAINELSOLAR.jpg);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 15px;
  max-width: 1000px;
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  gap: 40px;
}

.menu a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 0 10px;
  transition: color 0.3s;
  color: #02282B;
}

.menu a:hover {
  color: #3FC5FA;
}

.menu a:link,
.menu a:visited,
.menu a:active {
  color: #02282B;
}

p{
  margin-left: 200px;
  margin-right: 200px;
  background-color: white;
 opacity: 85%;
  padding: 20px;
  border-radius: 15px;
}

.botao button {
  display: flex;
    align-items: center;
    justify-content: center;
  background-color: white;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    gap: 20px;
    padding: 15px;
  }

  .menu a {
    font-size: 14px;
    padding: 5px;
  }

  p {
    margin-left: 10px;
  margin-right: 10px;
    margin: 10px;
    padding: 15px;
    font-size: 14px;
  }

  .botao button {
    padding: 8px 15px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .menu {
    gap: 10px;
    padding: 10px;
  }

  .menu a {
    font-size: 12px;
  }

  p {
    margin-left: 10px;
  margin-right: 10px;
    font-size: 12px;
  }

  .botao button {
    padding: 6px 10px;
    font-size: 12px;
  }
}
